﻿@model UserReservation.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #login-div {
            position: absolute;
            left: 37%;
            top: 30%;
            border: lpx solid #000000;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td>
                        Login
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Username)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login">
                        <input type="reset" name="name" value="Clear">

                    </td>
                </tr>
            </table>
        }
        @using (Html.BeginForm("Index", "Signup", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td><input type="submit" name="name" value="Sign up"></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>

