﻿@model UserReservation.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <style>
        #Signup-div {
            position: absolute;
            left: 37%;
            top: 15%;
            border: lpx solid #000000;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="Signup-div">
        @using (Html.BeginForm("SignupSuccess", "Signup", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td>
                        Signup
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Username)</td>
                    <td>@Html.EditorFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(Model => Model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Firstname)</td>
                    <td>@Html.EditorFor(model => model.Firstname)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Lastname)</td>
                    <td>@Html.EditorFor(model => model.Lastname)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Street)</td>
                    <td>@Html.EditorFor(model => model.Street)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.City)</td>
                    <td>@Html.EditorFor(model => model.City)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Provin)</td>
                    <td>@Html.EditorFor(model => model.Provin)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Coun)</td>
                    <td>@Html.EditorFor(model => model.Coun)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Postal)</td>
                    <td>@Html.EditorFor(model => model.Postal)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Phone)</td>
                    <td>@Html.EditorFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>@Html.EditorFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Signup">
                        <input type="reset" name="name" value="Clear">
                    </td>
                </tr>
            </table>
        }

    </div>
</body>
</html>