﻿@model UserReservation.Models.reserve

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/Jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/Jquery-ui-min.css" rel="stylesheet" />
</head>
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>reserve</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.check_in_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.check_in_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.check_in_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.check_out_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.check_out_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.check_out_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number_of_Guests, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number_of_Guests, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number_of_Guests, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number_of_rooms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Number_of_rooms",new List<SelectListItem>
           {
               new SelectListItem{Text ="1",Value="1",Selected=true},
                new SelectListItem{Text ="2",Value="2"},
                new SelectListItem{Text ="3",Value="3"},
                new SelectListItem{Text ="4",Value="4"},
                new SelectListItem{Text ="5",Value="5"},
                new SelectListItem{Text ="6",Value="6"} },"Select Number of rooms"



          )
                @Html.ValidationMessageFor(model => model.Number_of_rooms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.credit_card, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.RadioButtonFor(model => model.credit_card, "Visa")
                Visa
               @Html.RadioButtonFor(model => model.credit_card, "Master Card")
                Master Card
                @Html.RadioButtonFor(model => model.credit_card, "American Express")
                American Express
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name_on_credit_card, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name_on_credit_card, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name_on_credit_card, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.credit_card_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.credit_card_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.credit_card_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expiration_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expiration_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expiration_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    
    @Html.ActionLink("Back to List", "Index")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Check_In_Date").datepicker({
                minDate: 0,
                maxDate: "+60D",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#Check_In_Date").datepicker("option", "minDate", selected)
                }
            });

            $("#Check_Out_Date").datepicker({
                minDate: 0,
                maxDate: "+60D",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#Check_Out_Date").datepicker("option", "maxDate", selected)
                }
            });
        });
    </script>
</div>
