﻿@model IEnumerable<UserReservation.Models.reserve>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Make new reservation", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.check_in_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_out_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_of_Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_of_rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit_card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_on_credit_card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit_card_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiration_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.check_in_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_out_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_of_Guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_of_rooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit_card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_on_credit_card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit_card_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiration_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RId })
        </td>
    </tr>

}

</table>

<div>
    <h3>User:@Session["userName"].ToString()</h3>
    <a href="@Url.Action("Loginout", "Login")">LogOut</a>
</div>
